@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.wrapper {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    display: flex;
    height: 80vh;
    flex: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    cursor: pointer;
}

.panel h3 {
    font-size: 28px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}